body {
  background-color: #153836;
}

/* #root {
  margin-left: 15%;
  margin-right: 15%;
  padding: 1%;
  text-align: center;
  font-family: Optima, "Trebuchet MS", Arial, Helvetica, sans-serif;
  background-color: #014d49;
} */

/* .navbar {
  background-color: #65001A;
} */
/* 
h1 {
  color: white;
}

.navbar-nav a{
  margin-left: 1rem;
  margin-right: 1rem;
}

.navbar-nav a.nav-link.active{
  background-color: #B88831;
  border: 4px solid #A1752A
} */